@{
    string urlAction = ViewBag.UrlAction as string;
    string errorMsg = ViewBag.Error as string;
}
<style>
    body {
        display: inline-block;
        background: #00AFF9 url(https://cbwconline.com/IMG/Codepen/Unplugged.png) center/cover no-repeat;
        height: 100vh;
        margin: 0;
        color: black;
    }

    h1 {
        margin: .8em 3rem;
        font: 4em Roboto;
    }

    p {
        display: inline-block;
        margin: .2em 3rem;
        font: 2em Roboto;
    }
</style>
<h1>Whoops!</h1>
<p>@errorMsg</p>
<p> Please go back to <a href="@urlAction">edit user</a> to update again</p>