.booking-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 1200px) {
    .booking-container {
        max-width: 1140px;
    }
}

@media only screen and (max-width: 600px) {
    .booking-form {
        display: block !important;
    }
}

.booking-d-flex {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 0 0 5px 5px;
    padding: 25px;
}

.booking-form {
    display: flex;
}

.boking-form-info {
    flex: 4;
}

.Yorder {
    flex: 2;
}

.booking-title {
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0, #5195A8), color-stop(100, #70EAFF));
    background: -moz-linear-gradient(top left, #5195A8 0%, #70EAFF 100%);
    background: -ms-linear-gradient(top left, #5195A8 0%, #70EAFF 100%);
    background: -o-linear-gradient(top left, #5195A8 0%, #70EAFF 100%);
    background: linear-gradient(to bottom right, #5195A8 0%, #70EAFF 100%);
    border-radius: 5px 5px 0 0;
    padding: 20px;
    color: #f6f6f6;
}

.booking-h2 {
    margin: 0;
    padding-left: 15px;
    color: white;
}

.booking-required {
    color: red;
}

.booking-label, .booking-table {
    display: block;
    margin: 15px;
}

.booking-label > span {
    float: left;
    width: 25%;
    margin-top: 12px;
    padding-right: 10px;
}

.booking-input-text, .booking-input-tel, .booking-input-email, .booking-select {
    width: 70%;
    height: 50px;
    padding: 5px 10px;
    margin-bottom: 10px;
    border: 1px solid #dadada;
    color: #888;
}

.booking-select {
    width: 70%;
    height: 50px;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.Yorder {
    margin-top: 15px;
    height: 700px;
    padding: 20px;
    border: 1px solid #dadada;
}

.booking-table {
    margin: 0;
    padding: 0;
}

.booking-th {
    border-bottom: 1px solid #dadada;
    padding: 10px 0;
}

.booking-tr > td:nth-child(1) {
    text-align: left;
    color: #2d2d2a;
}

.booking-tr > td:nth-child(2) {
    text-align: right;
    color: #52ad9c;
}

.booking-td {
    border-bottom: 1px solid #dadada;
    padding: 20px 20px 20px 0;
}

.booking-p {
    display: block;
    color: #888;
    margin: 0;
    padding-left: 25px;
}

.Yorder > div {
    padding: 15px 0;
}

.booking-button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 30px;
    background: #52ad9c;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}

    .booking-button:hover {
        cursor: pointer;
        background: #428a7d;
    }
